[submodule "firmware/c_cpp/pico-sdk"]
	path = firmware/c_cpp/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "firmware/micropython/pimoroni-pico"]
	path = firmware/micropython/pimoroni-pico
	url = https://github.com/pimoroni/pimoroni-pico
[submodule "firmware/micropython/micropython"]
	path = firmware/micropython/micropython
	url = https://github.com/micropython/micropython.git
[submodule "firmware/c_cpp/debugprobe"]
	path = firmware/c_cpp/debugprobe
	url = https://github.com/raspberrypi/debugprobe
[submodule "firmware/c_cpp/examples/2_LCD_pio_LVGL_img_slider_button/st7789_pio_lcd_lvgl/lvgl"]
	path = firmware/c_cpp/examples/2_LCD_pio_LVGL_img_slider_button/st7789_pio_lcd_lvgl/lvgl
	url = https://github.com/jrfo-hwit/lvgl-pi-pico
[submodule "firmware/c_cpp/examples/9_st7789_pio_lcd_lvgl_hum_temp/st7789_pio_lcd_lvgl_sens/lvgl"]
	path = firmware/c_cpp/examples/9_st7789_pio_lcd_lvgl_hum_temp/st7789_pio_lcd_lvgl_sens/lvgl
	url = https://github.com/jrfo-hwit/lvgl-pi-pico
